body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	width: 1280px;
	margin: 0 auto;
}
.basic-block {
	padding: 50px 0;
	text-align: center;
}
.head-block {
	padding-top: 530px;
	padding-left: 190px;
	padding-bottom: 145px;
	color: #fff;
	background-image: url("../png/topimg.png");
	background-repeat: no-repeat;
	background-size: cover;
	
}
.head-block-title {
	font-size: 48px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.head-block-subtitle {
	font-size: 18px;
	margin: 0 0 25px;
}
.head-block-slogan {
	display: inline-block;
	padding: 45px 30px;
	text-transform: uppercase;
	font-size: 54px;
	font-weight: 700;
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px #fff solid;
}
.slogan-margin {
	margin-right: 50px;
}
.yellow-text {
	color: #f1ad1d;
}


.basic-title {
	margin-bottom: 35px;
	color: #333333;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
}


.basic-subtitle {
	font-size: 17px;
}

.orange-line {
	margin: 50px auto;
	width: 60px;
	border: 2px solid #f1ad1d;
}
.image {
	height: 193px;
	width: 281px;
}

nav {
	padding-bottom: 20px;
	border-bottom: 2px solid #f1ad1d;
}

.navbar-logo {
	display: inline-block;
	color: #f1ad1d;
	width: 10%;
	font-size: 36px;
	font-weight: 700;
	vertical-align: middle;
	text-transform: uppercase;
}

.navbar-menu {
	display: inline-block;
	width: 89%;
	text-align: right; 
	list-style: none;
}

.navbar-menu-item {
	display: inline-block;
	
}
.navbar-menu-link {
	text-decoration: none;
	color: #333;
	font-size: 18px;
	text-transform: uppercase;
}
.navbar-menu-item:hover .navbar-menu-link {
	color: #f1ad1d
}